@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap");

.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(155, 75, 235, 1) 0%,
    rgba(162, 86, 215, 1) 100%
  );
  color: white;
}

